{{>header}}
<div class="container">
    <div class="row mt-5">
        {{#each products}}
        <div class="col-lg-4">
            <a href="/product/getDetails">
            <div class="card" style="width: 18rem;">
                {{!-- <img src="..." class="card-img-top" alt="..."> --}}
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <h4>₹{{this.price}}</h4>
                </div>
                <div class="card-body">
                    <a href="/product/editProduct/{{this._id}}" class="btn btn-warning">Edit</a>
                    <a href="/product/delete/{{this._id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{>footer}}

{{!-- client (id) -> Server (id) -> db (id) -delete -> server -> client --}}